* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  /* Good practices to always have a grid that fills the whole screen. */
  min-height: 100dvh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, fit-content);
  grid-template-areas:
    "tab tab tab exit"
    "search search search search"
    "banner banner banner banner";
}

#tab-bar {
  grid-area: tab;
  display: flex;
  height: fit-content;
}

#logout-action {
  grid-area: exit;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#search-bar {
  grid-area: search;
  display: flex;
  height: 50px;
}

#search-bar input {
  flex-grow: 1;
}

#banner-list {
  grid-area: banner;
}

#box {
  grid-column: 1 / -1;
}

.box-items {
  display: grid;
  grid-template-columns: fit-content 30vh;
}

.list-item {
  display: flex;
  gap: 1rem;
  max-width: 100vw;
  overflow-x: scroll;
}

.list-item .item {
  flex-shrink: 240px;
  background-color: lightgreen;
  /* Min-width and flex-shrink forces the carousel behaviour. */
  min-width: 240px;
  aspect-ratio: 3/4;
}
