@media screen and (min-width: 1400px) {

    /* STYLE-DESKTOP */
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 256px auto auto;
        grid-template-areas:
            "verde verde verde verde verde verde"
            "azul roxo roxo roxo roxo roxo"
            "laranja laranja laranja laranja laranja laranja";
    }

    .menu .menu-item {
        background-color: transparent;
        padding: 0;
    }

    .footer-menu {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .footer-logo {
        align-items: flex-start;
    }
}